.main-content {
  margin-left: 260px;
  width: calc(100% - 260px);
  padding: 2rem;
  transition: margin-left 0.3s ease, width 0.3s ease;
  overflow-y: auto;
}


.main-content.full {
  margin-left: 0;
  width: 100%;
}

.layout {
  display: flex;
  min-height: 100vh;
}
